
.borderClass{
	border:dotted 2px red;
	background-color: rgba(111, 141, 247, 0.5);
}



.ea{
    background-color: transparent;
}

.fa-pencil.buttons{
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
	position:relative;
	margin-top:0.7em;
	color:#fff;top:0.5em;
	background-color: #2199e8;
	padding: 4px;
	font-size:19px;
}